[submodule "themes/windener"]
	path = themes/windener
	url = https://github.com/josephrexme/windener
	branch = master
[submodule "themes/connoisseur"]
	path = themes/connoisseur
	url = https://github.com/josephrexme/connoisseur
