---
---
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Joseph Rex">
  <meta name="description" content="Joseph Rex's blog on exploring software and his life">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="Joseph Rex's blog on software, applications, usability and security">
  <meta property="og:image" content="{{ "/favicon.png" }}">
  <meta property="og:description" content="Exploring Software and Applications with Joseph Rex">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@joerex101">
  <meta name="twitter:domain" content="josephrex.me">
  <meta name="twitter:creator" content="@joerex101">
  <meta name="twitter:title" content="Exploring Software and Applications with Joseph Rex">
  <meta name="twitter:img:src" content="/favicon.png">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//stats.g.doubleclick.net">
  <link rel="prerender" href="http://josephrex.me/about-me">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
  <!--[if IE]>
    {% stylesheet ie %}
  <![endif]-->
  {% stylesheet app %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="shortcut icon" type="image/png" href="http://res.cloudinary.com/strich/image/upload/v1437944865/logo_xpfee9.png" />
  <link rel="pingback" href="https://webmention.io/josephrex.me/xmlrpc" />
  <link rel="webmention" href="https://webmention.io/josephrex.me/webmention" />
  <title>Joseph Rex's blog - Exploring Software, Food recipes, and Design</title>
</head>
<body>
  <div class="wrap">
    <header class="header">
      <h2 class="header__title">Joseph Rex</h2>
      <h5 class="header__description">Design, Code, Fitness and Food</h5>
    </header>
    <main class="list list--gapped">
      {% for post in paginator.posts %}
        <div class="list__item">
          <div class="list__item__content">
            <h3>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
            {{ post.excerpt }}
          </div>
          <footer class="list__footer clearfix">
            <a href="{{ post.url | prepend: site.baseurl }}" class="u-fr ellipsized">Read More</a>
          </footer>
        </div>
      {% endfor %}
      <!-- Pagination links -->
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">
            Previous
          </a>
        {% else %}
          <span class="previous">
            Previous
          </span>
        {% endif %}
        <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">
            Next
          </a>
        {% else %}
          <span class="next ">
            Next
          </span>
        {% endif %}
      </div>
    </main>
    {% include footer.html %}
  </div>
</body>
</html>
