@keyframes fade-in-slow{
  0%{
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}
@keyframes cross-rotate{
  0%{
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(135deg);
  }
}
