/**
 * Typography:
 *
 *   @example
 *   <h1>Heading 1</h1>
 *   <h2>Heading 2</h2>
 *   <h3>Heading 3</h3>
 *   <h4>Heading 4</h4>
 *   <h5>Heading 5</h5>
 *   <h6>Heading 6</h6>
 *   <p>A paragraph with some text in it</p>
 */
h1,h2,h3,h4,h5,h6{
  line-height: 1.3;
  font-weight: 300;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 1rem 0;
}
h1{
  font-size: 2.5rem;
  @include breakpoint($breakpoint-tablet-portrait){
    font-size: 4.8rem;
  }
}
h2{
  font-size: 4rem;
}
h3{
  font-size: 3rem;
  @include breakpoint($breakpoint-tablet-portrait){
    font-size: 2.7rem;
  }
}
h4{
  font-size: 2rem;
}
h5{
  font-size: 1.6rem;
}
h6{
  font-size: 1.4rem;
}
p{
  hyphens: auto;
}
small{
  font-size: 1.4rem;
  color: #999;
}
.head-title{
  margin-top: 0;
}

