---
layout: list
pagination:
  data: collections.posts
  size: 6
---
<div style="--d:grid;--mx-grid_template_cols:repeat(2,1fr);--gap:2rem;">
{%- for post in pagination.items -%}
  <section style="--position:relative;--p:5rem;--d:grid;--gap:2rem;--group:active">
    <h3 style="--opacity:.7;--font_sz:2rem"><a href="{{ post.url }}" class="anchor-lines">{{ post.data.title }}</a></h3>
    <article>
      {{ post.data.page.excerpt | markdownify | safe }}
    </article>
    <p><a href="{{ post.url }}" style="--font_sz:1.6rem;--opacity:.7" class="anchor-lines">Read more ››</a></p>
    <div style="--position:absolute;--inset:0;--bg:rgb(100 100 100/.06);--group-hover-transform:scale(1.02);--transform-o:center;--transition:transform .3s cubic-bezier(.5,0,.5,1);--z:-1"></div>
  </section>
{%- endfor -%}
</div>
<div style="--d:grid;--grid_template_cols:repeat(2,1fr);--mt:4rem">
  <div style="--d:flex;--flex_dir:column;--gap:.5rem;">
    <a href="https://x-team.com/blog/author/joseph" class="anchor-dash"><span style="--opacity:.7">Articles on X-Team</span></a>
    <a href="http://resources.infosecinstitute.com/author/joseph-rex" class="anchor-dash"><span style="--opacity:.7">Articles on Infosec Institute</span></a>
  </div>
  <div style="--txt_al:right">
    <div>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</div>
    <div>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</div>
  </div>
</div>