<footer>
	&copy; <span class="this_year"></span> Joseph Rex
</footer>
<script>
  // Moving Featured Image to header
  var featuredImage = document.querySelector('.head-image');
  if (featuredImage){
    var header = document.querySelectorAll('.container > header')[0];
    if(header){
      header.appendChild(featuredImage);
    }
  }
  /*!
  Modified for brevity from https://github.com/filamentgroup/loadCSS
  loadCSS: load a CSS file asynchronously.
  [c]2014 @scottjehl, Filament Group, Inc.
  Licensed MIT
  */
  function loadCSS( href, before, media ){
    "use strict";
    var ss = window.document.createElement( "link" );
    var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
    ss.rel = "stylesheet";
    ss.href = href;
    // temporarily, set media to something non-matching to ensure it'll fetch without blocking render
    ss.media = "only x";
    // inject link
    ref.parentNode.insertBefore( ss, ref );
    // set media back to `all` so that the styleshet applies once it loads
    setTimeout( function(){
      ss.media = media || "all";
    } );
    return ss;
  }
  if(window.location.pathname == '/' || '/index.html' || /\/page\d\//.test(window.location.pathname)){
    loadCSS('{% asset_path app.css %}');
  }
</script>
<script async>
  // Google Analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56161232-2', 'auto');
  ga('send', 'pageview');

  // Hotjar - Good service but presently not in use
  /*(function(f,b,g){
      var xo=g.prototype.open,xs=g.prototype.send,c;
      f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
      f._hjSettings={hjid:10930, hjsv:2};
      function ls(){f.hj.documentHtml=b.documentElement.outerHTML;c=b.createElement("script");c.async=1;c.src="//static.hotjar.com/c/hotjar-10930.js?sv=2";b.getElementsByTagName("head")[0].appendChild(c);}
      if(b.readyState==="interactive"||b.readyState==="complete"||b.readyState==="loaded"){ls();}else{if(b.addEventListener){b.addEventListener("DOMContentLoaded",ls,false);}}
      if(!f._hjPlayback && b.addEventListener){
          g.prototype.open=function(l,j,m,h,k){this._u=j;xo.call(this,l,j,m,h,k)};
          g.prototype.send=function(e){var j=this;function h(){if(j.readyState===4){f.hj("_xhr",j._u,j.status,j.response)}}this.addEventListener("readystatechange",h,false);xs.call(this,e)};
      }
  })(window,document,window.XMLHttpRequest);*/
</script>
{% javascript app %}