<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Joseph Rex">
  <meta property="site_name" content="josephrexme">
  <meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:image" content="/favicon.png">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@josephrexme">
  <meta name="twitter:creator" content="@josephrexme">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:img:src" content="/favicon.png">
  {% if page.title %}
  <meta name="twitter:label1" content="Author">
  <meta name="twitter:data1" content="Joseph Rex">
  <meta name="twitter:label2" content="Published On">
  <meta name="twitter:data2" content="{{ page.date | date: "%B %-d, %Y" }}">
  {% endif %}
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//stats.g.doubleclick.net">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400">
  <!--[if IE]>
    {% stylesheet ie %}
  <![endif]-->
  {% stylesheet app %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="shortcut icon" type="image/png" href="http://res.cloudinary.com/strich/image/upload/v1437944865/logo_xpfee9.png" />
  <link rel="pingback" href="https://webmention.io/josephrex.me/xmlrpc" />
  <link rel="webmention" href="https://webmention.io/josephrex.me/webmention" />
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "{% if page.title %}Article{% else %}Website{% endif %}",
    "description": "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}",
    "publisher": {
      "@type": "Organization",
      "name": "Joseph Rex Blog",
      "logo": {
        "@type": "ImageObject",
        "url": "http://res.cloudinary.com/strich/image/upload/v1493550549/jr-long-logo_fszgeu.png",
        "width": 600,
        "height": 60
      }
    },
    "author": {
      "@type": "Person",
      "name": "Joseph Rex",
      "url": "https://josephrex.me/about-me"
    },
    "sameAs": [
      "https://twitter.com/josephrexme",
      "https://www.linkedin.com/in/josephrexme",
      "https://behance.net/josephrexme",
      "https://codepen.io/bl4ckdu5t",
      "https://github.com/bl4ckdu5t"
    ],
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    }
    {% if page.title %}
    ,"headline": "{{ page.title }}",
    "datePublished": "{{ page.date }}",
    "dateModified": "{{ page.date }}",
    "image": {
      "@type": "ImageObject",
      "url": "https://dummyimage.com/800x500/011a38/ffffff.jpg&text={{ page.title }}",
      "width": 800,
      "height": 500
    }
    {% endif %}
  }
  </script>
</head>
