/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/**
Site Styles begin here
**/
html {
  width: 100%;
  font-size: 62.5%;
}
body {
  font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}
:root{
  --text-color: #222;
  --bg-color: #fff;
}
@media (prefers-color-scheme: dark) {
  :root{
    --text-color: #eee;
    --bg-color: #222;
  }
}
a{
  text-decoration: none;
}
input{
  font-family: inherit;
}
blockquote{
  position: relative;
  margin: 2rem 1rem;
  padding: 2rem 4rem;
  background: rgb(var(--bg-color)/.05);
  border-left: solid thick #444;
  font-weight: 300;
}
blockquote::before{
  content: '“';
  position: absolute;
  top: -2rem;
  left: 1rem;
  font-size: 8rem;
  color: var(--text-color);
}
cite{
  display: block;
}
cite::before{
  content: '— ';
}
hr{
  margin: 4rem auto;
  padding: 0;
  border: 0;
  color: var(--text-color);
  text-align: center;
  overflow: inherit;
}
hr::after{
  content: '✯ ✯ ✯';
  display: inline-block;
  position: relative;
  top: -1rem;
  font-size: 2rem;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.3;
}
h1 {
  font-weight: 700;
  margin: 1.5rem 0 2.5rem;
}
h2,h3,h4,h5,h6 {
  font-weight: 500;
}
h2,h3,h4,h5,h6,p {
  margin: 1.5rem 0 1rem;
}

/* Article */
article p {
  margin: 0;
}
article p + p {
  margin: 3rem 0 0
}
article h2,h3,h4,h5,h6 {
  margin: 4rem 0 1rem;
}
article h2 {
  font-size: 2.6rem;
}
@media (min-width: 640px) {
  article h2 {
    font-size: 3.6rem;
  }
}
article h3 {
  font-size: 2.4rem;
}
@media (min-width: 640px) {
  article h3 {
    font-size: 3rem;
  }
}
article h4 {
  font-size: 2.2rem;
}
@media (min-width: 640px) {
  article h4 {
    font-size: 2.4rem;
  }
}
article h5 {
  font-size: 2rem;
}
article h6 {
  font-size: 1.8rem;
}
article pre, pre[class*='language-'] {
  margin: 4rem 0;
}
article a{
  color: #b64f44;
}
article math{
  display: block;
  width: fit-content;
  margin: 2rem auto;
}
article figure {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto;
  padding: 1rem;
  background: rgb(100 100 100/.06);
  text-align: center;
}
article > img {
  margin: 2rem auto;
}
article figcaption{
  padding-block-start: 1rem;
  grid-row-start: 2;
  font-size: 1.6rem;
  opacity: .6;
}
article video{
  aspect-ratio: 16/9;
  width: 100%;
}
article .video{
  position: relative;
  width: calc(100% + 30px);
  height: 0;
  margin-block: 2rem;
  margin-inline-start: -15px;
  padding-block-end: 56.25%;
  padding-block-start: 30px;
  background: none;
  overflow: hidden;
}
article .video :where(iframe, object, embed){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Padding */
[style*='--p:'] {
  padding: var(--p)
}
[style*='--py:'] {
  padding-block: var(--py)
}
[style*='--px:'] {
  padding-inline: var(--px)
}
[style*='--pt:'] {
  padding-block-start: var(--pt)
}
[style*='--pb:'] {
  padding-block-end: var(--pb)
}
[style*='--pl:'] {
  padding-inline-start: var(--pl)
}
[style*='--pr:'] {
  padding-inline-end: var(--pr)
}

/* Margin */
[style*='--m:'] {
  margin: var(--m)
}
[style*='--my:'] {
  margin-block: var(--my)
}
[style*='--mx:'] {
  margin-inline: var(--mx)
}
[style*='--mt:'] {
  margin-block-start: var(--mt)
}
[style*='--mb:'] {
  margin-block-end: var(--mb)
}
[style*='--ml:'] {
  margin-inline-start: var(--ml)
}
[style*='--mr:'] {
  margin-inline-end: var(--mr)
}

/* Width */
[style*='--w:'] {
  width: var(--w)
}

/* Text */
[style*='--text_al:'] {
  text-align: var(--text_al)
}
[style*='--font_sz:'] {
  font-size: var(--font_sz)
}

/* Background */
[style*='--bg:'] {
  background: var(--bg)
}

/* Color */
[style*='--cl:'] {
  color: var(--cl)
}

@media (min-width: 640px) {
  [style*='--sm-font_sz'] {
    font-size: var(--sm-font_sz);
  }
}
@media (min-width: 768px) {
  [style*='--md-font_sz'] {
    font-size: var(--md-font_sz);
  }
}
@media (min-width: 1024px) {
  [style*='--lg-font_sz'] {
    font-size: var(--lg-font_sz);
  }
}
@media (min-width: 1280px) {
  [style*='--xl-font_sz'] {
    font-size: var(--xl-font_sz);
  }
}

@media(prefers-color-scheme: dark) {
  [style*='--dark-bg:'] {
    background: var(--dark-bg)
  }

  [style*='--dark-cl:'] {
    color: var(--dark-cl)
  }
}

