/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/**
Site Styles begin here
**/
html {
  width: 100%;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}
:root {
  --text-color: #222;
  --bg-color: #fff;
  --link-color: #b64f44;
  --site-width: 800px;
  --container: min(94%, var(--site-width));
}
@media (prefers-color-scheme: dark) {
  :root{
    --text-color: #eee;
    --bg-color: #222;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  font-family: inherit;
}
blockquote {
  position: relative;
  margin: 2rem 1rem;
  padding: 2rem 4rem;
  background: rgb(var(--bg-color)/.05);
  border-left: solid thick #444;
  font-weight: 300;
}
blockquote::before {
  content: '“';
  position: absolute;
  top: -2rem;
  left: 1rem;
  font-size: 8rem;
  color: var(--text-color);
}
cite {
  display: block;
}
cite::before {
  content: '— ';
}
hr {
  margin: 4rem auto;
  padding: 0;
  border: 0;
  color: var(--text-color);
  text-align: center;
  overflow: inherit;
}
hr::after {
  content: '✯ ✯ ✯';
  display: inline-block;
  position: relative;
  top: -1rem;
  font-size: 2rem;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.3;
}
h1 {
  font-weight: 700;
  margin: 1.5rem 0 2.5rem;
}
h2,h3,h4,h5,h6 {
  font-weight: 500;
}
h2,h3,h4,h5,h6,p {
  margin: 1.5rem 0 1rem;
}

/* Article */
article p {
  margin: 0;
}
article p + p {
  margin: 3rem 0 0
}
article h2,h3,h4,h5,h6 {
  margin: 4rem 0 1rem;
}
article h2 {
  font-size: 2.6rem;
}
@media (min-width: 640px) {
  article h2 {
    font-size: 3.6rem;
  }
}
article h3 {
  font-size: 2.4rem;
}
@media (min-width: 640px) {
  article h3 {
    font-size: 3rem;
  }
}
article h4 {
  font-size: 2.2rem;
}
@media (min-width: 640px) {
  article h4 {
    font-size: 2.4rem;
  }
}
article h5 {
  font-size: 2rem;
}
article h6 {
  font-size: 1.8rem;
}
article pre, pre[class*='language-'] {
  margin: 4rem 0;
}
article a {
  color: var(--link-color);
}
article math {
  display: block;
  width: fit-content;
  margin: 2rem auto;
}
article figure {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto;
  padding: 1rem;
  background: rgb(100 100 100/.06);
  text-align: center;
}
article > img {
  margin: 2rem auto;
}
article figcaption {
  padding-block-start: 1rem;
  grid-row-start: 2;
  font-size: 1.6rem;
  opacity: .6;
}
article video {
  aspect-ratio: 16/9;
  width: 100%;
}
article .video {
  position: relative;
  height: 0;
  width: 100%;
  margin-block: 2rem;
  padding-block-end: 56.25%;
  padding-block-start: 30px;
  background: none;
  overflow: hidden;
}
@media (min-width: 640px) {
  article .video {
    width: calc(100% + 30px);
    margin-inline-start: -15px;
  }
}
article .video :where(iframe, object, embed) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/*-- Anchors --*/
.anchor-lines{
  padding: .4rem 0 .4rem;
  background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
  background-size: 0 .3rem;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .3s cubic-bezier(.5,0,.5,1) .05s;
}
.anchor-lines:where(:hover, :focus) {
  background-size: 100% .3rem;
}
.anchor-brackets::before, .anchor-brackets::after {
  display: inline-block;
  opacity: 0;
  transition: transform .3s, opacity .2s;
}
.anchor-brackets::before {
  content: '[';
  margin-right: 1rem;
  transform: translate(2rem);
}
.anchor-brackets::after {
  content: ']';
  margin-left: 1rem;
  transform: translate(-2rem);
}
.anchor-brackets:where(:hover,:focus)::before, .anchor-brackets:where(:hover,:focus)::after {
  opacity: 1;
  transform: translate(0);
}
.anchor-dash::before {
  content: '';
  position: relative;
  top: -.5ch;
  display: inline-block;
  opacity: .4;
  width: 4rem;
  border-bottom: solid thin currentColor;
  transform: scaleX(.7);
  transform-origin: left;
  transition: opacity .2s cubic-bezier(.5,0,.5,1) .05s, transform .3s cubic-bezier(.5,0,.5,1) .05s;
}
.anchor-dash span {
  display: inline-block;
  margin-left: .5rem;
  transition: transform .3s cubic-bezier(.5,0,.5,1) .1s;
}
.anchor-dash:where(:hover, :focus) span {
  transform: translateX(1rem);
}
.anchor-dash:where(:hover, :focus)::before {
  opacity: 1;
  transform: scaleX(1);
}

/*-- WASP.CSS --*/
/* Padding */
[style*='--p:'] {
  padding: var(--p)
}
[style*='--py:'] {
  padding-block: var(--py)
}
[style*='--px:'] {
  padding-inline: var(--px)
}
[style*='--pt:'] {
  padding-block-start: var(--pt)
}
[style*='--pb:'] {
  padding-block-end: var(--pb)
}
[style*='--pl:'] {
  padding-inline-start: var(--pl)
}
[style*='--pr:'] {
  padding-inline-end: var(--pr)
}

/* Margin */
[style*='--m:'] {
  margin: var(--m)
}
[style*='--my:'] {
  margin-block: var(--my)
}
[style*='--mx:'] {
  margin-inline: var(--mx)
}
[style*='--mt:'] {
  margin-block-start: var(--mt)
}
[style*='--mb:'] {
  margin-block-end: var(--mb)
}
[style*='--ml:'] {
  margin-inline-start: var(--ml)
}
[style*='--mr:'] {
  margin-inline-end: var(--mr)
}

/* Dimensions */
[style*='--w:'] {
  width: var(--w)
}
[style*='--h:'] {
  height: var(--h)
}

/* Text */
[style*='--txt_al:'] {
  text-align: var(--txt_al)
}
[style*='--font_sz:'] {
  font-size: var(--font_sz)
}
[style*='--font_wt:'] {
  font-weight: var(--font_wt)
}

/* Colors */
[style*='--bg:'] {
  background: var(--bg)
}
[style*='--cl:'] {
  color: var(--cl)
}

/* Position */
[style*='--position:'] {
  position: var(--position)
}
[style*='--inset:'] {
  inset: var(--inset)
}
[style*='--left:'] {
  left: var(--left)
}
[style*='--right:'] {
  right: var(--right)
}
[style*='--top:'] {
  top: var(--top)
}
[style*='--bottom:'] {
  bottom: var(--bottom)
}
[style*='--z:'] {
  z-index: var(--z);
}

/* Display */
[style*='--d:'] {
  display: var(--d)
}

/* Layout */
[style*='--justify_content:'] {
  justify-content: var(--justify_content);
}
[style*='--flex_dir:'] {
  flex-direction: var(--flex_dir);
}
[style*='--gap:'] {
  gap: var(--gap);
}
[style*='--grid_template_cols:'] {
  grid-template-columns: var(--grid_template_cols);
}
[style*='--grid_template_rows:'] {
  grid-template-rows: var(--grid_template_rows);
}

/* Transforms */
[style*='--opacity:'] {
  opacity: var(--opacity);
}
[style*='--transform:'] {
  transform: var(--transform);
}
[style*='--transform-o:'] {
  transform-origin: var(--transform-o);
}
[style*='--transition:'] {
  transition: var(--transition);
}

/*-- Hover --*/
/* Transforms */
[style*='--hover-opacity:']:hover {
  opacity: var(--hover-opacity);
}
[style*='--hover-transform:']:hover {
  transform: var(--hover-transform);
}

/*-- Group --*/
/*-- Group Hover --*/
[style*='--group:active']:hover [style*='--group-hover-transform'] {
  transform: var(--group-hover-transform);
}

/*-- Breakpoints --*/
@media (min-width: 640px) {
  /* Text */
  [style*='--sm-txt_al:'] {
    text-align: var(--sm-txt_al)
  }
  [style*='--sm-font_sz:'] {
    font-size: var(--sm-font_sz);
  }

  /* Display */
  [style*='--sm-d:'] {
    display: var(--sm-d)
  }
}
@media (min-width: 768px) {
  /* Text */
  [style*='--md-txt_al:'] {
    text-align: var(--md-txt_al)
  }
  [style*='--md-font_sz:'] {
    font-size: var(--md-font_sz);
  }

  /* Display */
  [style*='--md-d:'] {
    display: var(--md-d)
  }

  /* Layout */
  [style*='--md-justify_content:'] {
    justify-content: var(--md-justify_content);
  }
  [style*='--md-flex_dir:'] {
    flex-direction: var(--md-flex_dir);
  }
  [style*='--md-gap:'] {
    gap: var(--md-gap);
  }
  [style*='--md-grid_template_cols:'] {
    grid-template-columns: var(--md-grid_template_cols);
  }
  [style*='--md-grid_template_rows:'] {
    grid-template-rows: var(--md-grid_template_rows);
  }
}
@media (min-width: 960px) {
  /* Text */
  [style*='--mx-txt_al:'] {
    text-align: var(--mx-txt_al)
  }
  [style*='--mx-font_sz:'] {
    font-size: var(--mx-font_sz);
  }

  /* Display */
  [style*='--mx-d:'] {
    display: var(--mx-d)
  }

  /* Layout */
  [style*='--mx-justify_content:'] {
    justify-content: var(--mx-justify_content);
  }
  [style*='--mx-flex_dir:'] {
    flex-direction: var(--mx-flex_dir);
  }
  [style*='--mx-gap:'] {
    gap: var(--mx-gap);
  }
  [style*='--mx-grid_template_cols:'] {
    grid-template-columns: var(--mx-grid_template_cols);
  }
  [style*='--mx-grid_template_rows:'] {
    grid-template-rows: var(--mx-grid_template_rows);
  }
}
@media (min-width: 1024px) {
  /* Text */
  [style*='--lg-txt_al:'] {
    text-align: var(--lg-txt_al)
  }
  [style*='--lg-font_sz:'] {
    font-size: var(--lg-font_sz);
  }

  /* Display */
  [style*='--lg-d:'] {
    display: var(--lg-d)
  }

  /* Layout */
  [style*='--lg-justify_content:'] {
    justify-content: var(--lg-justify_content);
  }
  [style*='--lg-flex_dir:'] {
    flex-direction: var(--lg-flex_dir);
  }
  [style*='--lg-gap:'] {
    gap: var(--lg-gap);
  }
  [style*='--lg-grid_template_cols:'] {
    grid-template-columns: var(--lg-grid_template_cols);
  }
  [style*='--lg-grid_template_rows:'] {
    grid-template-rows: var(--lg-grid_template_rows);
  }
}
@media (min-width: 1280px) {
  /* Text */
  [style*='--xl-txt_al:'] {
    text-align: var(--xl-txt_al)
  }
  [style*='--xl-font_sz:'] {
    font-size: var(--xl-font_sz);
  }

  /* Display */
  [style*='--xl-d:'] {
    display: var(--xl-d)
  }
}

@media(prefers-color-scheme: dark) {
  [style*='--dark-bg:'] {
    background: var(--dark-bg)
  }

  [style*='--dark-cl:'] {
    color: var(--dark-cl)
  }
}

