/*--------------------------------*\
  Global Rules/Namespace
\*--------------------------------*/
*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: $font--primary;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.6;
  background-color: $color-brand-1;
  background: $bg-color;
  color: $text-color;
}
blockquote{
  position: relative;
  padding: 20px 40px;
  padding-left: 50px;
  background: darken($white, 2%);
  border-left: solid 2px rgba($black, .7);
  font-weight: 300;
  &::before{
    content: '“';
    position: absolute;
    top: -5px;
    left: 16px;
    font-size: 8rem;
    color: #777;
  }
}
cite{
  display: block;
  &::before{
    content: '— ';
  }
}
a{
  color: $color-links;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
input{
  font-family: inherit;
}
em{
  font-weight: 400;
}
figure > img {
  display: block;
}

figcaption {
  font-size: 1.2rem;
}
dfn, abbr, acronym{
  border-bottom: dashed thin $color-brand-4;
}

code {
  padding: 1px 5px;
  border-radius: $inputs-border-radius;
  background-color: darken($white, 6%);
}

pre {
  padding: 0 12px;
  overflow: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    padding: 0;
    background-color: transparent;
  }
  &:not(.line-pre){
    background: linear-gradient(#2f2f2f 50%, darken(#2f2f2f, 5%) 0);
    background-size: 100% 60px;
    border-radius: $inputs-border-radius;
    line-height: 30px;
    color: #ddd;
  }
}
.wrap{
  width: 100%;
  max-width: $site-width;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: hidden;
}
.icon{
  fill: currentColor;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
}
.logo{
  width: 80px;
  transform: scale(.2);
  opacity: 0;
  transition: transform opacity 1s ease-in .3s;
}
.scroll-progress{
  background: $color-brand-2;
  height: 5px;
  position: fixed;
  top: 0;
  z-index: 1100;
  box-shadow: 0 0 3px rgba($black, .5);
}
