.footer{
  padding: 50px 20px;
  text-align: center;
  color: rgba($white, .4);
  font-size: 1.8rem;
  input, button{
    margin-bottom: .5rem;
  }
  button{
    width: 90%;
    @include breakpoint($breakpoint-iphone-portrait){
      width: auto;
    }
  }
  &__heading{
    color: rgba($white, .8);
  }
}
