.header{
  padding: 50px 10px;
  text-align: center;
  &__title{
    margin-bottom: 20px;
    transition: opacity 3s ease;
    transition-delay: 0.5s;
    opacity: 1;
  }
  &__description{
    color: rgba($white, .6);
  }
}
