.post{
  background: $white;
  color: #444;
  .wrap{
    padding: 20px 0 40px;
  }
  &__title{
    &::after{
      content: '';
      display: block;
      width: 150px;
      height: 2px;
      margin: 20px auto 30px;
      background: linear-gradient(90deg, $color-brand-2, $color-brand-3, $color-brand-4);
    }
  }
  &__article{
    padding: 0 20px;
  }
  &__actions{
    margin-top: 50px;
    text-align: right;
    .icon{
      width: 2rem;
      height: 2rem;
      vertical-align: text-top;
    }
    &__action{
      display: inline-block;
      position: relative;
      cursor: pointer;
    }
  }
  &__sharelinks{
    position: absolute;
    bottom: -70px;
    right: 0;
    width: 120px;
    padding: 0 10px;
    background: $white;
    box-shadow: 0 0 1px rgba($black, .4);
    text-align: left;
    span{
      display: block;
      padding: 5px;
      font-size: 1.4rem;
      &:not(:last-of-type){
        border-bottom: solid thin #ddd;
      }
    }
  }
  &__footer{
    height: 200px;
    padding: 20px 10px;
    background: darken($white, 3%);
  }
}
