<header style="--position:relative;--d:flex;--p:6rem;--justify_content:space-between">
  <a href="/">Home</a>
  <nav aria-label="Primary navigation" style="--d:flex;--flex_dir:column;--gap:1rem;--txt_al:right;--md-flex_dir:row;">
    <a href="https://resume.josephrex.me" style="--opacity:.7" class="anchor-brackets">Resume</a>
    <a href="/reading-list" style="--opacity:.7" class="anchor-brackets">Reading list</a>
    <a href="https://kit.co/josephrexme/home-office" style="--opacity:.7" class="anchor-brackets">Uses</a>
  </nav>
</header>
