{% set css %}
  {% include "assets/main.css" %}
{% endset %}
{% set wasp_css %}
  {% include "assets/wasp.css" %}
{% endset %}
{% set js %}
  {% include "assets/main.js" %}
{% endset %}
{% set lightbox %}
  {% include "assets/lightbox.js" %}
{% endset %}
{% set page_description = page.excerpt | plaintext if page.excerpt else site.config.description %}
{% set title_slug = title | slugify if title else "" %}
{% set og_image_url = "/.netlify/functions/opengraph?text="+title_slug+"&layout="+layout %}
{% set og_image = og_image_url | absURL %}
<!DOCTYPE html>
<html lang={{ site.config.language }} prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if site.config.googleAnalytics %}
  {% if not site.config.environment.isDev %}
  <link rel="dns-prefetch" href="//www.googletagmanager.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="preconnect" href="//www.googletagmanager.com" crossorigin>
  <link rel="preconnect" href="//www.google-analytics.com" crossorigin>
  {% endif %}
  {% endif %}
  {% if layout == "post" %}
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-tomorrow.min.css" integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% endif %}
  <style>{{ css | cssmin | safe }}</style>
  <style>{{ wasp_css | cssmin | safe }}</style>
  <title>{{ title or site.config.title }}</title>
  <meta name="description" content="{{ page_description }}">
  <meta name="author" content="{{ site.config.author.name }}">
  <meta property="site_name" content="{{ site.config.username }}">
  <meta property="og:type" content="{% if layout == 'post' %}article{% else %}website{% endif %}">
  <meta property="og:url" content="{{ page.url | absURL }}">
  <meta property="og:title" content="{{ title or site.config.title }}">
  <meta property="og:image" content="{{ og_image }}">
  <meta property="og:image:alt" content="{{ title if title else "Joseph Rex website" }}">
  <meta property="og:description" content="{{ page_description }}">
  <meta name="p:domain_verify" content="573587fd2211caf338169f0ea205345d"/>
  <meta name="twitter:url" content="{{ page.url | absURL }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.config.username }}">
  <meta name="twitter:creator" content="@{{ site.config.username }}">
  <meta name="twitter:title" content="{{ title or site.config.title }}">
  <meta name="twitter:image" content="{{ og_image }}">
  <meta name="color-scheme" content="light dark">
  {% if layout == "post" %}
  <meta name="twitter:label1" content="Author">
  <meta name="twitter:data1" content="{{ site.config.name }}">
  <meta name="twitter:label2" content="Published On">
  <meta name="twitter:data2" content="{{ page.date | formatDate }}">
  {% endif %}
  <link rel="canonical" href="{{ page.url | absURL }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ site.config.themeColor }}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="{{ site.config.themeColor }}">
  <link rel="webmention" href="https://webmention.io/www.josephrex.me/webmention">
  <link rel="pingback" href="https://webmention.io/www.josephrex.me/xmlrpc">
  <script>
  if(localStorage.getItem('theme')) {
    document.documentElement.classList.add('theme-active');
  }
  </script>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "{% if layout == 'post' %}Article{% else %}Website{% endif %}",
    "description": "{{ page_description }}",
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.config.name }} Blog",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.config.banner }}",
        "width": 600,
        "height": 60
      }
    },
    "author": {
      "@type": "Person",
      "name": "{{ site.config.name }}",
      "url": "{{ site.config.url }}"
    },
    "sameAs": [
      "{{ site.config.social.twitter }}",
      "{{ site.config.social.linkedin }}",
      "{{ site.config.social.dribbble }}",
      "{{ site.config.social.codepen }}",
      "{{ site.config.social.github }}"
    ],
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ page.url | absURL }}"
    }
    {% if layout == "post" %}
    ,"headline": "{{ title or site.config.title }}",
    "image": {
      "@type": "ImageObject",
      "url": "{{ og_image }}",
      "width": 800,
      "height": 500
    },
    "datePublished": "{{ page.date | formatDate }}",
    "dateModified": "{% modified_at %}"
    {% endif %}
  }
  </script>
</head>
<body style="--bg:var(--bg-color);--cl:var(--text-color)">
  {{ content | safe }}
  <script>
    // Toggle Dark/Light Theme
    var themeSwitcher = document.getElementById('themeToggle');
    if(themeSwitcher) {
      themeSwitcher.addEventListener('click', function () {
        document.documentElement.classList.toggle('theme-active');
        if (localStorage.getItem('theme')) {
          localStorage.removeItem('theme');
        } else {
          localStorage.setItem('theme', 'active');
        }
      });
    }
  </script>
  {% if layout == "post" %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js" integrity="sha512-hpZ5pDCF2bRCweL5WoA0/N1elet1KYL5mx3LP555Eg/0ZguaHawxNvEjF6O3rufAChs16HVNhEc6blF/rZoowQ==" crossorigin="anonymous" referrerpolicy="no-referrer" data-manual async defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-sv0slik/5O0JIPdLBCR2A3XDg/1U3WuDEheZfI/DI5n8Yqc3h5kjrnr46FGBNiUAJF7rE4LHKwQ/SoSLRKAxEA==" crossorigin="anonymous" referrerpolicy="no-referrer" async defer></script>
  <script>{{ js | jsmin | safe }}</script>
  {% endif %}
  {% if layout == "post" or layout == "page" %}
  <script>{{ lightbox | jsmin | safe }}</script>
  <script>lightbox('img:not(.no-zoom)', {backdropBg: 'var(--bg-color)'});</script>
  {% endif %}
  {% if not site.config.environment.isDev %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.config.googleAnalytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.config.googleAnalytics }}');
  </script>
  {% endif %}

</body>
</html>
