---
layout: base
---
{% include "header.html" %}
<div style="--px:2rem;--mx-px:6rem;">
  <div style="--pb:8rem;--pt:4rem">
    <h1 style="--font_sz:3.8rem;--md-font_sz:4.8rem;">I am {{ site.config.name }},<br>{{ site.config.bio }}</h1>
    <div style="--md-font_sz:2rem;" class="with-anchor-lines">
      {{ site.config.about | markdownify | safe }}
    </div>
  </div>
  <div style="--d:grid;--lg-grid_template_cols: 1fr 3fr;--gap:4rem;--lg-gap:0">
    <nav aria-label="Secondary navigation" style="--d:flex;--flex_dir:column;--gap:1.5rem" class="with-anchor-lines">
      <h2>
        <a href="/" style="--font_sz:2.8rem;--font_wt:500;--hover-opacity:1;{% if current != 'articles' %}--opacity:.4;{% endif %}">Articles</a>
      </h2>
      <h2>
        <a href="/case-studies" style="--font_sz:2.8rem;--font_wt:500;--hover-opacity:1;{% if current != 'case-studies' %}--opacity:.4;{% endif %}">Case Studies</a>
      </h2>
      <h2>
        <a href="/experiments" style="--font_sz:2.8rem;--font_wt:500;--hover-opacity:1;{% if current != 'experiments' %}--opacity:.4;{% endif %}">Experiments</a>
      </h2>
      <h2>
        <a href="/projects" style="--font_sz:2.8rem;--font_wt:500;--hover-opacity:1;{% if current != 'projects' %}--opacity:.4;{% endif %}">Projects</a>
      </h2>
    </nav>
    <main>
      {{ content | safe }}
    </main>
  </div>
</div>
<!-- Make navigation of list pages feel like SPA by retaining scroll position -->
<script>
const referrerPath = document.referrer ? (new URL(document.referrer)).pathname : ''
const listPages = ['/','/case-studies/','/projects/', '/experiments/']
if(listPages.includes(referrerPath) && listPages.includes(document.location.pathname)) {
  const top = sessionStorage.getItem('scroll-position')
  if(top) {
    document.scrollingElement.scrollTop = top
  }
}
window.addEventListener('visibilitychange', () => {
  if(document.visibilityState === 'hidden') {
    sessionStorage.setItem('scroll-position', document.scrollingElement.scrollTop - 1)
  }
})
</script>
{% include "footer.html" %}
