---
layout: base
---
<div class="scroll-progress"></div>
{% include "header.html" %}
<div style="--w:var(--container);--mx:auto">
  <h1 style="--txt_al:center;--font_sz:3.8rem;--md-font_sz:8rem">{{ title }}</h1>
  <div style="--font_sz:1.6rem;--txt_al:center;--d:flex;--flex_dir:column;gap:1rem">
    <p style="--m:0">
      <strong>Published: </strong>
      <time datetime="{{ page.date | formatISO }}">{{ page.date | formatDate }}</time>
    </p>
    <p style="--m:0">
      <strong>Last updated: </strong>
      {% if lastmod %}
      <time datetime="{{ lastmod | formatISO }}">{{ lastmod | formatDate }}</time>
      {% else %}
      <time datetime="{% modified_at {formatted: false} %}">{% modified_at %}</time>
      {% endif %}
    </p>
    <p style="--m:0"><strong>Estimated reading time: </strong> {{ content | readingTime }}</p>
  </div>
  <article style="--mt:8rem;--mb:2rem" class="with-anchor-lines">
    {{ content | safe }}
  </article>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  <div style="--font_sz:1.6rem;--my:4rem;--d:flex;--justify_content:space-between;--align_items:center">
    <div style="--d:flex;--flex_wrap:wrap;--gap:1rem">
      {%- for tag in tags -%}
        <a href="/tags/{{ tag }}" style="--bg:rgb(100 100 100/.08);--py:.5rem;--px:1.5rem;--roundness:.5rem;--hover-bg:rgb(100 100 100/.2)">{{ tag }}</a>
      {%- endfor -%}
    </div>
    <div style="--txt_al:right;--d:flex;--flex_wrap:wrap;--flex_dir:column;--md-flex_dir:row;--gap: 1rem 2rem" class="with-anchor-lines">
      <a href="https://facebook.com/sharer/sharer.php?u={{permalink|absURL}}" target="_blank" rel="noreferrer" style="--cl:var(--link-color)">Share on Facebook</a>
      <a href="https://twitter.com/intent/tweet/?text={{title}}&url={{permalink|absURL}}&via=josephrexme" target="_blank" rel="noreferrer" style="--cl:var(--link-color)">Share on Twitter</a>
    </div>
  </div>
  <div>
    {% webmentions page.url %}
  </div>
  <div style="--my:4rem;--d:flex;--justify_content:space-between;--align_items:center">
    <div style="--d:grid;--gap:1rem;">
      {%- if previousPost %}
        <h3>Newer post</h3>
        <p><a href="{{ previousPost.url | url }}" style="--cl:var(--link-color)" class="anchor-lines">{{ previousPost.data.title }}</a></p>
      {% endif %}
    </div>
    <div style="--d:grid;--gap:1rem;--txt_al:right">
      {%- if nextPost %}
        <h3>Older post</h3>
        <p><a href="{{ nextPost.url | url }}" style="--cl:var(--link-color)" class="anchor-lines">{{ nextPost.data.title }}</a></p>
      {% endif %}
    </div>
  </div>
  <ul>
  </ul>
</div>
{% include "footer.html" %}
