// Form Components
//
.form{
  &__input{
    height: 35px;
    padding: 5px 10px;
    border-radius: $inputs-border-radius;
    border: solid thin rgba($black, .2);
    font-size: 1.4rem;
    outline: none;
    background-clip: padding-box;
    box-sizing: border-box;
    &::placeholder{
      font-style: normal;
      font-weight: 300;
      color: #bbb;
    }
    &--wide{
      width: 100%;
    }
    &--block{
      display: block;
      width: 100%;
      margin: .5rem 0;
    }
    &__wrap{
      display: block;
      position: relative;
    }
    &__poston, &__preton{
      position: absolute;
      top: 0;
      min-width: 35px;
      padding: 5px 10px;
      background: #bbb;
    }
    &__poston{
      right: 0;
      border-radius: 0 $inputs-border-radius $inputs-border-radius 0;
    }
    &__preton{
      left: 0;
      border-radius: $inputs-border-radius 0 0 $inputs-border-radius;
    }
  }
  &__compact{
    margin: 20px 0;
    *{
      width: 100%;
      height: 45px;
      border-color: $action-buttons;
      vertical-align: top;
      font-size: 1.3rem;
    }
    :first-child{
      border-radius: $inputs-border-radius $inputs-border-radius 0 0;
    }
    :nth-child(2){
      border-top: 0;
      border-radius: 0;
    }
    .button{
      border-radius: 0 0 $inputs-border-radius $inputs-border-radius;
    }
    @include breakpoint($breakpoint-tablet-portrait){
      :first-child{
        width: 40%;
        border-radius: $inputs-border-radius 0 0 $inputs-border-radius;
      }
      :nth-child(2){
        margin-left: -6px;
        padding-right: 100px;
        width: 58%;
        border-top: solid thin $action-buttons;
        border-radius: 0 $inputs-border-radius $inputs-border-radius 0;
      }
      .button{
        width: auto;
        margin-left: -100px;
        border-radius: 0 $inputs-border-radius $inputs-border-radius 0;
      }
    }
    @include breakpoint($breakpoint-tablet-landscape){
      max-width: 600px;
    }
  }
  &__range{
    max-width: 400px;
    .multiform &{
      width: 100%;
    }
  }
  &__search{
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    color: rgba($white, .5);
    .form__input{
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      padding-left: 35px;
      background: rgba($white, .08);
    }
    .icon{
      position: absolute;
      top: 18px;
      left: 20px;
    }
  }
  &__text{
    width: 100%;
    min-height: 7rem;
    padding: 5px;
    border-radius: $inputs-border-radius;
    border: solid thin rgba($black, .2);
    outline: none;
  }
  &--compact{
    .form__input{
      border: none;
    }
    .form__wrap{
      border-bottom: solid thin #ddd;
      font-size: 1.4rem;
      > *{
        float: left;
        padding: 10px;
      }
      label{
        width: 35%;
        text-transform: uppercase;
        color: #999;
      }
      .form__input{
        width: 65%;
        height: 42px;
        background: darken($white, 5%);
        color: darken($white, 55%);
      }
    }
    .button{
      width: 140px;
    }
  }
  &__field{
    margin-bottom: 15px;
    padding: 0;
  }
}
.tip{
  margin: .3rem 0;
  font-size: 1.0rem;
  color: #888;
}
