/**
 * List:
 * `.list` - Lists are used for enlisting items
 *
 *   @example
 *   <ul class="list">
 *     <li class="list__item"><p>This is awesome</p></li>
 *     <li class="list__item"><p>That is awesome</p></li>
 *     <li class="list__item"><p>Those are awesome</p></li>
 *   </ul>
 */

.list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 4px;
  &__item{
    position: relative;
    padding: 10px;
    background: $white;
    &:not(:last-of-type){
      border-bottom: solid thin rgba($black, .1);
    }
  }
  &--bordered{
    border: solid thin rgba($black, .1);
  }
  &--gapped{
  /**
   * Gapped List:
   * list with gaps in between
   *
   *   @example
   *   <ul class="list list--gapped">
   *     <li class="list__item"><p>This is awesome</p></li>
   *     <li class="list__item"><p>That is awesome</p></li>
   *     <li class="list__item"><p>Those are awesome</p></li>
   *   </ul>
   */
    .list__item{
      margin-bottom: 20px;
      padding: 20px 40px;
      color: #444;
      font-weight: lighter;
    }
  }
  &__heading{
    margin: 0;
    padding: 15px 10px;
    border-bottom: solid thin rgba($black, .1);
  }
  &__time{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #999;
  }
  h6{
    font-weight: 300;
  }
  p{
    margin: 0;
  }
}
