.tags{
  a{
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
    padding: 2px 6px;
    border-radius: 4px;
    background: darken($white, 7%);
    color: #777;
    &:hover{
      text-decoration: none;
      background: darken($white, 10%);
    }
    &::after{
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: -5px;
      width: 5px;
      height: 15px;
      background: $white;
    }
  }
}
