/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}


/**
 * Blockquotes
 */
blockquote {
    color: #000;
    background-color: #ddd;
    border-left: 4px solid #aaa;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
    padding: 20px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
* Title attribute elements
*/
dfn, abbr, acronym{
    border-bottom: dashed thin #222;
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    &:not(.line-pre){
        background-color: #090914;
        color: #ddd;
    }
}

code {
    padding: 1px 5px;
    &:not(pre > code){
        background-color: #aaa;
    }
}

pre {
    padding: 8px 12px;
    overflow: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
.lineno.lineno.lineno{
    background-color: #0A090E;
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}