/* These are styles from third-party plugins or Ads publishing. They are at the bottom for unexpected specifity spikes */
#carbonads{
	background: rgba($white, .2);
	max-width: 150px;
	border: solid thin #bbb;
	padding: 10px;
	font-size: 1.2rem;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
	@include breakpoint($breakpoint-laptop){
		[data-index] & {
			position: absolute;
			top: 60px;
			right: 10px;
		}
	}
}
.carbon-text{
	display: block;
	margin: 10px 0;
}
.carbon-poweredby{
	color: #ddd;
}