@import "breakpoint";
@import "mixins";
@import "compass/typography/vertical_rhythm";
//@import "grids";
@import "variables";
@import "fonts";
@import "h5bp";
* { @include box-sizing(border-box); }
a{ text-decoration: none; color: inherit; }
button, input{ font-family: $font-stack; }
button, [type="submit"]{ cursor: pointer; }
html{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 62.5%;
}
body{
	background: $color-primary;
	margin: 0;
	font-family: $font-stack;
	font-size: 1.6rem;
}
iframe{ margin: 0 auto; }
ul{ margin: 0; padding: 0; }
abbr[title]:hover:after, acronym[title]:hover:after{
	content: " (" attr(title) ")";
	text-shadow: 0 0 1em #dd3b2a;
}
header{
	width: 100%;
	overflow: hidden;
	position: relative;
	img{
		width: inherit;
		height: 250px;
		@include breakpoint($breakpoint-tablet-landscape){
			height: 400px;
		}
		@include breakpoint($breakpoint-laptop){
			height: 450px;
		}
	}
	h2{
		color: $white;
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		font-weight: 300;
		font-size: 2.5rem;
		z-index: 10;
	}
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		background-image: linear-gradient(top, rgba($black, .8), rgba($black, .8));
		@include breakpoint($breakpoint-tablet-landscape){
			background-image: linear-gradient(top, rgba($black, 0) 30%, rgba($black, .9) 70%);
		}
		height: 100%;
		width: 100%;
	}
}
main{
	background: $white;
	padding: 20px;
	time{
		font-weight: 300;
	}
	article{
		margin-top: 20px;
		img{
			max-width: 90%;
			display: block;
			margin: 0 auto;
		}
	}
	a{
		color: $brand-color;
		&:visited{
			color: darken($brand-color, 4);
		}
	}
	ul{
		list-style-type: disc;
		padding-left: 30px;
	}
	h2, h3, h4, h5, h6{
		font-weight: 300;
	}
	h4{ font-size: 2.4rem; }
	h3{
		font-size: 3rem;
	}
	h2{
		font-size: 3.5rem;
	}
	h1{ font-size: 4rem; }
	hr{
		border: none;
		margin: 5rem 0;
		&:before{
			display: block;
			text-align: center;
			content: '***';
			font-size: 2rem;
			letter-spacing: 0.5em;
		}
	}
	strong{ font-weight: 800; }
}
figure{
	border: solid thin #ddd;
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}
table{
	width: 100%;
	margin: 20px 0;
	thead{
		border-bottom: solid thin #555;
	}
	tbody{
		tr{
			border-bottom: solid thin #aaa;
			&:last-child{
				border-bottom: none;
			}
		}
	}
	th, td{
		padding: 10px;
	}
}
.container{
	@include breakpoint($breakpoint-tablet-landscape){
		width: 80%;
		margin: 0 auto;
		margin-top: 100px;
		box-shadow: 0 2px 10px darken($color-primary, 9);
	}
	@include breakpoint($breakpoint-laptop){
		width: 60%;
		>aside{
			position: absolute;
			right: 0;
			top: 100px;
			width: 20%;
		}
	}
}
nav{
	padding: 0 10px 0 10px;
	position: relative;
	max-height: $nav-height;
	>ul{
		background: darken($color-primary, 3);
		color: $white;
		width: 100%;
		position: absolute;
		padding: 0 0 10px 0;
		left: 0;
		z-index: 1000;
		top: $nav-height - 10px;
		border-radius: 0 0 10px 10px;
		display: none;
		li{
			>a{
				display: block;
				padding: 10px;
				width: 100%;
				height: 100%;
				&:hover{
					background: darken($color-primary, 6);
				}
			}
		}
	}
	&.active>ul{ display: block; }
	&.active svg{ background: darken($color-primary, 3); }
	svg{
		cursor: pointer;
		height: 100%;
	}
	@include breakpoint($breakpoint-tablet-landscape){
		svg{ display: none; }
		max-height: $nav-height + 500px;
		padding: 0;
		position: absolute;
		left: 0;
		top: 100px;
		width: 100px;
		ul{
			display: block;
			border-radius: 0;
			background: transparent;
			position: relative;
			padding: 0;
			li{
				border-bottom: solid thin darken($color-primary, 5);
			}
		}
	}
	@include breakpoint(1105px){
		width: 10%;
	}
	@include breakpoint($breakpoint-laptop){
		width: 20%;
		top: 200px;
	}
}
.caption{
	margin-top: 0;
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 999;
	font-weight: 800;
	font-size: 25px;
	text-transform: uppercase;
	text-shadow: 0 1px 1px #eee,0 -1px 0 #ddd;
	opacity: .12;
	overflow: hidden;
	@include breakpoint($breakpoint-tablet-landscape){
		right: 0;
		left: 0;
		top: -50px;
		margin: 0 auto;
		width: 80vw;
		text-align: center;
		font-size: 100px;
		transform: scale(1.2,1);
	}
}
*:focus{ outline: 3px solid rgba(62, 184, 179, $reg_alpha); }
::selection{ background: #999; color: white; }

.container>aside{
	text-align: center;
	color: $white;
	padding: 30px 10px;
	h4{
		font-weight: 400;
	}
}
.feed{
	margin: 10px 0;
	width: 80%;
	height: 35px;
	border-radius: 5px;
	border: none;
	padding: 0 10px;
	& ~ button{
		color: $white;
		border: none;
		background: lighten($color-primary, 9);
		width: 80%;
		height: 40px;
		margin-top: 10px;
		font-size: 1.5rem;
		&:hover{
			background: lighten($color-primary, 7);
		}
	}
}
footer{
	text-align: center;
	//background: darken($color-primary, 8);
	padding: 20px 10px;
	color: #ddd;
}
.social-icons{
	margin: 40px 0;
	li{
		display: inline-block;
		margin-right: 10px;
		margin-top: 10px;
		svg{
			fill: $color-social-default;
			&:hover{
				fill: darken($color-social-default, 9);
			}
		}
	}
}
.avatar{
	width: $avatar-size;
	height: $avatar-size;
	border-radius: 50%;
	border: solid 3px $white;
	box-shadow: 0 1px 1px #333;
	margin-bottom: 10px;
}
[class~="page-title"]{
	color: $white;
	text-align: center;
	font-size: 3rem;
	padding: 20px 10px;
	margin-bottom: 0;
	background: url(../pattern.png) lighten($color-primary, 6);
}
#carbonads{
	background: rgba($white, .2);
	max-width: 150px;
	border: solid thin #bbb;
	padding: 10px;
	font-size: 1.2rem;
	margin: 0 auto;
	margin-bottom: 20px;
	@include breakpoint($breakpoint-laptop){
		[data-index] & {
			position: absolute;
			top: 60px;
			right: 10px;
		}
	}
}
.carbon-text{
	display: block;
	margin: 5px 0;
}
.carbon-poweredby{
	color: #ddd;
}
.lost{
	margin: 0 auto;
	text-align: center;
	> svg {
		fill: $color-primary;
		width: 150px;
		height: 150px;
	}
	h4{
		font-size: 4rem;
	}
	h5{
		font-size: 2.5rem;
	}
}
[data-index]{
	background: #eee;
	nav{
		background: $color-primary;
		@include breakpoint($breakpoint-tablet-landscape){
			background: rgba($color-primary,.7);
			padding: 0 10px 0 10px;
			position: fixed;
			z-index: 150;
			top: 0;
			width: 100%;
			max-height: $nav-height;
			>ul{
				background: rgba(darken($color-primary, 30%),.5);
				color: $white;
				width: 100%;
				height: 100vh;
				position: absolute;
				padding: 0 0 10px 0;
				left: 0;
				z-index: 1000;
				top: $nav-height - 10px;
				border-radius: 0 0 10px 10px;
				display: none;
				&::before{
					content: '';
					position: absolute;
					left: 0;
					width: 200px;
					height: 100%;
					background: darken($color-primary, 3);
					z-index: -1;
				}
				li{
					border-bottom: none;
					>a{
						display: block;
						background: transparent;
						padding: 20px;
						width: 200px;
						&:hover{
							background: darken($color-primary, 6);
						}
					}
				}
			}
			&.active>ul{ display: block; }
			&.active svg{ background: darken($color-primary, 3); }
			svg{
				display: block;
				cursor: pointer;
				height: 100%;
			}
		}
	}
	main{
		img,pre{
			display: none;
		}
		@include breakpoint($breakpoint-tablet-landscape){
			width: $breakpoint-tablet-landscape;
			padding: 6rem;
			margin: 0 auto;
		}
		@include breakpoint($breakpoint-laptop){
			position: relative;
			top: -100px;
			margin-bottom: -100px;
		}
	}
	aside{
		color: $white;
		background: $color-primary;
		text-align: center;
		padding: 3rem;
		@include breakpoint($breakpoint-tablet-landscape){
			width: $breakpoint-tablet-landscape;
			margin: 0 auto;
		}
	}
	.feed{
		@include breakpoint($breakpoint-tablet-landscape){
			width: $breakpoint-tablet-landscape - 400px;
			& ~ button{
				width: $breakpoint-tablet-landscape - 400px;
			}
		}
	}
	footer{
		color: #444;
	}
}
[data-section~="header"]{
	height: 30rem;
	background: linear-gradient(rgba($color-primary, .8), rgba($color-primary, .8)), url('/header.png') no-repeat;
	color: $white;
	padding: 2rem;
	text-align: center;
	overflow: hidden;
	@include breakpoint($breakpoint-tablet-landscape){
		height: 40rem;
	}
	h2{
		font-size: 3rem;
		font-weight: 400;
		text-transform: uppercase;
		margin-top: 30%;
		@include breakpoint($breakpoint-iphone-landscape){
			margin-top: 10%;		
		}
		@include breakpoint($breakpoint-laptop){
			font-size: 4rem;
		}
	}
	p{
		color: darken($color-primary, 9);
		font-weight: 300;
		font-size: 2rem;
	}
}
.logo{
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	z-index: 200;
	margin: 0 auto;
	width: 40px;
	@include breakpoint($breakpoint-tablet-landscape){
		top: 80px;
	}
	@include breakpoint($breakpoint-laptop){
		width: 60px;
	}
	&.fixed{
		position: fixed;
		top: 5px;
		width: 30px;
	}
}
.ellipsized{
	display: block;
	margin-bottom: 20px;
	color: #888;
	&:visited{
		color: #888;
	}
	&:hover{
		color: #555;
	}
}
.pagination{
	text-align: center;
	svg{
		width: 80px;
	}
	a{
		svg{
			fill: #888;
			&:hover{
				fill: #aaa;
			}
		}
	}
	span{
		svg{
			fill: #ddd;
		}
	}
	.next, .previous, .page_number{
		position: relative;
		@include breakpoint($breakpoint-laptop){
			position: absolute;
		}
		bottom: 5px;
	}
	.next{
		right: 2px;
	}
	.previous{
		left: 2px;
	}
	.page_number{
		left: 0;
		right: 0;
		margin: 0 auto;
		font-weight: 800;
		font-size: 3rem;
		bottom: 30px;
		@include breakpoint($breakpoint-laptop){
			font-size: 5rem;
			bottom: 5px;
		}
		color: #ddd;
		max-width: 180px;
	}
}
@import "helpers", "print";