//Mixins
@mixin transition($duration){
	-webkit-transition: $duration;
	transition: $duration;
}

@mixin transform($deg){
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	transform: rotate($deg);
}

@mixin border-radius($up, $right, $down, $left){
	-webkit-border-radius: $up $right $down $left; // For iOS Safari 3.2 and Android Browser 2.1 
	border-radius: $up $right $down $left;
}

@mixin box-sizing($boxtype){
	-webkit-box-sizing: $boxtype;
	-moz-box-sizing: $boxtype;
	-o-box-sizing: $boxtype;
	-ms-box-sizing: $boxtype;
	box-sizing: $boxtype;
}
@mixin three-d($shadowcolor){
	position: relative;
	box-shadow: 1px 1px $shadowcolor, 2px 2px $shadowcolor, 3px 3px $shadowcolor;
	transition: all 0.1s ease-in;
	&:active{
		box-shadow: none;
		top: 3px;
		left: 3px;
	}
}

@mixin font-face($family, $path, $svg, $weight: normal, $style: normal){
	@font-face{
		font-family: $family;
		src: url('#{$path}.eot');
		src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg##{$svg}') format('svg');
		font-weight: $weight;
		font-style: $style;
	}
}

// Makes Ellipsis on Single Line
@mixin ellipsis-line($width){
	width: $width;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
// GrayScale Filter
@mixin grayscale($level){
	-webkit-filter: grayscale($level);
	filter: grayscale($level);
}
@mixin socle(){
	position: relative;
	z-index: 2;
	&:after{
		content: "";
		z-index: -1;
		position: absolute;
		border-radius: 6px;
		box-shadow: inset 0 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(255,255,255,0.7);
		top: -6px;
		bottom: -6px;
		right: -6px;
		left: -6px;
		background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0));
	}
}
// Gradients
@mixin gradient-dark-linear{
	background-image: -webkit-linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,0));
	background-image: -o-linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,0));
	background-image: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,0));
}
@mixin gradient-light-linear{
	background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
	background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
	background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
}
@mixin gradient-dark-radial{
	background-image: radial-gradient(center 0, circle farthest-corner, rgba(0,0,0,0.15), rgba(0,0,0,0));
}
@mixin gradient-light-radial{
	background-image: radial-gradient(center 0, circle farthest-corner, rgba(255,255,255,0.4), rgba(255,255,255,0));
}
@mixin print($map) {
  @each $property, $value in $map {
    #{$property}: $value
  }
}
@mixin prefix($property, $value, $prefixes) {
	@each $prefix in $prefixes {
		#{$prefix}-#{$property}:$value;
	}
	#{$property}:$value;
}
@mixin stitches($color){
   padding: 20px;
   margin: 10px;
   background: $color;
   color: #fff;
   font-size: 21px;
   font-weight: normal;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px $color, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
}
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}