/**
 * List:
 * `.list` - Lists are used for enlisting items
 *
 *   @example
 *   <ul class="list">
 *     <li class="list__item"><p>This is awesome</p></li>
 *     <li class="list__item"><p>That is awesome</p></li>
 *     <li class="list__item"><p>Those are awesome</p></li>
 *   </ul>
 */

.list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 4px;
  &__item{
    position: relative;
    padding: 10px;
    background: $white;
    &:not(:last-of-type){
      border-bottom: solid thin rgba($black, .1);
    }
  }
  &--bordered{
    border: solid thin rgba($black, .1);
  }
  &--gapped{
  /**
   * Gapped List:
   * list with gaps in between
   *
   *   @example
   *   <ul class="list list--gapped">
   *     <li class="list__item"><p>This is awesome</p></li>
   *     <li class="list__item"><p>That is awesome</p></li>
   *     <li class="list__item"><p>Those are awesome</p></li>
   *   </ul>
   */
    .list__item{
      margin-bottom: 20px;
      padding: 0;
      background: none;
      color: #444;
      &__content{
        padding: 20px 40px;
        background: $white;
        font-size: 2.0rem;
        img, pre{
          display: none;
        }
        h3 a:hover{
          text-decoration: none;
        }
      }
    }
  }
  &__heading{
    margin: 0;
    padding: 15px 10px;
    border-bottom: solid thin rgba($black, .1);
  }
  &__footer{
    height: 48px;
    background: rgba($white, .3);
    font-size: 1.8rem;
    .ellipsized{
      background: rgba($color-brand-4, .4);
      color: $white;
      padding: 10px 20px;
      &:hover{
        background: rgba($color-brand-4, 1);
        text-decoration: none;
      }
    }
  }
  &__time{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #999;
  }
  h6{
    font-weight: 300;
  }
  p{
    margin: 0;
  }
}
