table{
  width: 100%;
  margin: 20px 0;
  box-shadow: 0 0 1px rgba($black, .2);
}
th, td{
  padding: 10px;
  text-align: left;
}
tr{
  background: #fff;
  &:nth-of-type(even){
    background: #eee;
  }
}
thead tr{
  background: #eee;
}
