<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="scrollup">
      <svg viewBox="0 0 1024 1024">
        <path d="M316.373 657.707l195.627-195.627 195.627 195.627 60.373-60.373-256-256-256 256z"></path>
      </svg>
    </div>
    <div class="scroll-progress"></div>
    {% include header.html %}
    {% include navigation.html %}
    <section class="container">
      {{ content }}
      {% include sidebar.html %}
    </section>
    {% include footer.html %}
  </body>
</html>