<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
  {% include head.html %}
  <body>
    <div class="scrollup">
      <svg viewBox="0 0 1024 1024">
        <path d="M316.373 657.707l195.627-195.627 195.627 195.627 60.373-60.373-256-256-256 256z"></path>
      </svg>
    </div>
    <div class="scroll-progress"></div>
    <div class="thanks" style="background: white; color: #222; padding: 20px; width: 80px; height: 80px; position: fixed; bottom: 20px; right: 20px; text-align: center; display: none;">Thank you</div>
    {% include header.html %}
    {% include navigation.html %}
    <section class="container">
      {{ content }}
      {% include sidebar.html %}
    </section>
    {% include footer.html %}
  </body>
</html>