---
layout: default
---
<div class="wrap">
  <section class="container">
    {% include navigation.html %}
    <header class="header">
      <h1 class="post__title">{{ page.title }}</h1>
      <time class="post__date">{{ page.date | date: "%B %-d, %Y" }}</time>
    </header>
    <main>
      <article class="post__article">
        {{ content }}
        <div class="post__actions">
          <div class="post__actions__action" id="shareDropdown">
            <div class="post__sharelinks" style="display: none">
              <a id="shareBtn" href=".">Facebook</a>
              <a href="https://twitter.com/share" onclick="window.open(this.href, 'mywin',
                'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" data-show-count="false">Twitter</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						<script>
							window.fbAsyncInit = function() {
								FB.init({
									appId      : '1365337256872373',
									xfbml      : true,
									version    : 'v2.8'
								});
								FB.AppEvents.logPageView();
							};

							(function(d, s, id){
								 var js, fjs = d.getElementsByTagName(s)[0];
								 if (d.getElementById(id)) {return;}
								 js = d.createElement(s); js.id = id;
								 js.src = "//connect.facebook.net/en_US/sdk.js";
								 fjs.parentNode.insertBefore(js, fjs);
							 }(document, 'script', 'facebook-jssdk'));
						</script>
             <script>
							document.getElementById('shareBtn').onclick = function() {
								FB.ui({
									method: 'share',
									display: 'popup',
                  href: '{{ page.url | prepend: site.url }}',
								}, function(response){});
							}
							</script>
            </div>
            <svg version="1.1" class="icon" viewBox="0 0 333.324 333.324">
              <path d="M125.255,59.513l33.907-33.907v149.451c0,4.143,3.358,7.5,7.5,7.5s7.5-3.357,7.5-7.5V25.606l33.907,33.907c1.464,1.464,3.384,2.196,5.303,2.196s3.839-0.732,5.303-2.196c2.929-2.93,2.929-7.678,0-10.607l-46.71-46.71c-2.929-2.928-7.678-2.928-10.606,0l-46.71,46.71c-2.929,2.93-2.929,7.678,0,10.607C117.577,62.441,122.326,62.441,125.255,59.513z"/>
              <path d="M263.328,87.557h-61.645c-4.142,0-7.5,3.357-7.5,7.5s3.358,7.5,7.5,7.5h54.145v215.767H77.495V102.557h54.145c4.142,0,7.5-3.357,7.5-7.5s-3.358-7.5-7.5-7.5H69.995c-4.142,0-7.5,3.357-7.5,7.5v230.767c0,4.143,3.358,7.5,7.5,7.5h193.333c4.142,0,7.5-3.357,7.5-7.5V95.057C270.828,90.915,267.47,87.557,263.328,87.557z"/>
            </svg>
            Share
          </div>
        </div>
        <!-- Comments Section -->
        {% if page.comments %}
        <div class="comments">
          <div class="comments__trigger js-toggleComments">
            <span class="comments__trigger__plus"></span>
            <p>View Comments</p>
          </div>
          <div id="disqus_thread" style="display:none"></div>
        </div>
        {% endif %}
      </article>
    </main>
  </section>
</div>
<footer class="post__footer">
  <div class="wrap row">
    <div class="col">
      {% if page.next %}
      <h5>Previous article</h5>
      <a href="{{ page.next.permalink }}">{{ page.next.title }}</a>
      {% endif %}
    </div>
    <div class="col u-txtright">
      {% if page.previous %}
      <h5>Next article</h5>
      <a href="{{ page.previous.permalink }}">{{ page.previous.title }}</a>
      {% endif %}
    </div>
  </div>
</footer>
