---
layout: default
---
<nav class="nav row">
  <div class="col">
    <a href="/"><img src="/logo.png" class="nav__logo" alt="Joseph Rex"></a>
  </div>
  <div class="col">
    <a href="/about-me" class="u-fr u-inherit-color">About Me</a>
  </div>
</nav>
<header class="header">
  <h1 class="post__title">{{ page.title }}</h1>
  <time class="post__date">{{ page.date | date: "%B %-d, %Y" }}</time>
</header>
<main>
  <article class="post__article">
    {{ content }}
    <!-- Comments Section -->
    {% if page.comments %}
    <div class="comments">
      <div class="comments__trigger js-toggleComments">
        <span class="comments__trigger__plus"></span>
        <p>View Comments</p>
      </div>
      <div id="disqus_thread" style="display:none"></div>
    </div>
    {% endif %}
  </article>
</main>
