/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:where(:not(iframe, canvas, img, svg, video, mark, sup, strong, em, s, abbr, ul, ol, dl, details):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/**
Site Styles begin here
**/
html {
  width: 100%;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}
:root {
  --site-width: 800px;
  --container: min(90%, var(--site-width));
  --light-text-color: #222;
  --light-bg-color: #fff;
  --light-link-color: #b64f44;
  --light-active-link-color: #b70303;
  --dark-text-color: #eee;
  --dark-bg-color: #222;
  --dark-link-color: #ff877a;
  --dark-active-link-color: #ff5050;
  --text-color: var(--light-text-color);
  --bg-color: var(--light-bg-color);
  --link-color: var(--light-link-color);
  --active-link-color: var(--light-active-link-color);
}
.theme-active{
  --text-color: var(--dark-text-color);
  --bg-color: var(--dark-bg-color);
  --link-color: var(--dark-link-color);
  --active-link-color: var(--dark-active-link-color);
}
@media (prefers-color-scheme: dark) {
  :root{
    --text-color: var(--dark-text-color);
    --bg-color: var(--dark-bg-color);
    --link-color: var(--dark-link-color);
    --active-link-color: var(--dark-active-link-color);
  }
  .theme-active{
    --text-color: var(--light-text-color);
    --bg-color: var(--light-bg-color);
    --link-color: var(--light-link-color);
    --active-link-color: var(--light-active-link-color);
  }
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
input {
  font-family: inherit;
}
blockquote {
  position: relative;
  margin: 2rem 1rem;
  padding: 2rem 4rem;
  background: rgb(var(--bg-color)/.05);
  border-left: solid thick #444;
  font-weight: 300;
}
blockquote::before {
  content: '“';
  position: absolute;
  top: -2rem;
  left: 1rem;
  font-size: 8rem;
  color: var(--text-color);
}
cite {
  display: block;
}
cite::before {
  content: '— ';
}
hr {
  margin: 4rem auto;
  padding: 0;
  border: 0;
  color: currentColor;
  text-align: center;
  overflow: inherit;
}
hr::after {
  content: '✯ ✯ ✯';
  display: inline-block;
  position: relative;
  top: 0;
  font-size: 2rem;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.3;
}
h1 {
  font-weight: 700;
  margin: 1.5rem 0 2.5rem;
}
h2,h3,h4,h5,h6 {
  font-weight: 500;
}

/* Article */
article p + p {
  margin: 3rem 0 0
}
article :where(h2,h3,h4,h5,h6) {
  margin: 4rem 0 1rem;
}
article h2 {
  font-size: 2.6rem;
}
@media (min-width: 640px) {
  article h2 {
    font-size: 3.6rem;
  }
}
article h3 {
  font-size: 2.4rem;
}
@media (min-width: 640px) {
  article h3 {
    font-size: 3rem;
  }
}
article h4 {
  font-size: 2.2rem;
}
@media (min-width: 640px) {
  article h4 {
    font-size: 2.4rem;
  }
}
article h5 {
  font-size: 2rem;
}
article h6 {
  font-size: 1.8rem;
}
article :where(pre, pre[class*='language-']) {
  margin: 4rem 0;
}
article a {
  color: var(--link-color);
}
article a:where(:hover, :focus) {
  color: var(--active-link-color);
}
article math {
  display: block;
  width: fit-content;
  margin: 2rem auto;
}
article figure {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto;
  padding: 1rem;
  background: rgb(100 100 100/.06);
  text-align: center;
}
article > img {
  margin: 2rem auto;
}
article figcaption {
  padding-block-start: 1rem;
  grid-row-start: 2;
  font-size: 1.6rem;
  opacity: .6;
}
article video {
  aspect-ratio: 16/9;
  width: 100%;
}
article .video {
  position: relative;
  height: 0;
  width: 90%;
  padding-block-end: 56.25%;
  padding-block-start: 30px;
  background: none;
  overflow: hidden;
}
@media (min-width: 1024px) {
  article .video {
    width: calc(100% + 30px);
    margin-inline-start: -15px;
  }
}
article .video :where(iframe, object, embed) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
article .footnotes-list{
  display: grid;
  font-size: 1.4rem;
  gap: 2rem;
}

/*-- Scroll Progress --*/
.scroll-progress {
  --scale: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  width: 100%;
  height: .5rem;
  background: var(--text-color);
  box-shadow: 0 0 .4rem rgb(0 3px 4px/.05);
  transform: scaleX(var(--scale));
  transform-origin: left;
  transition: transform .2s linear;
  will-change: transform;
}

/*-- Anchors --*/
.anchor-lines, .with-anchor-lines a{
  padding: .4rem 0 .4rem;
  background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
  background-size: 0 .3rem;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .3s cubic-bezier(.5,0,.5,1) .05s;
}
.anchor-lines:where(:hover, :focus), .with-anchor-lines a:where(:hover, :focus) {
  background-size: 100% .3rem;
}
.anchor-brackets::before, .anchor-brackets::after {
  display: inline-block;
  opacity: 0;
  transition: transform .3s, opacity .2s;
}
.anchor-brackets::before {
  content: '[';
  margin-right: 1rem;
  transform: translate(2rem);
}
.anchor-brackets::after {
  content: ']';
  margin-left: 1rem;
  transform: translate(-2rem);
}
.anchor-brackets:where(:hover,:focus)::before, .anchor-brackets:where(:hover,:focus)::after {
  opacity: 1;
  transform: translate(0);
}
.anchor-dash::before {
  content: '';
  position: relative;
  top: -.5ch;
  display: inline-block;
  opacity: .4;
  width: 4rem;
  border-bottom: solid thin currentColor;
  transform: scaleX(.7);
  transform-origin: left;
  transition: opacity .2s cubic-bezier(.5,0,.5,1) .05s, transform .3s cubic-bezier(.5,0,.5,1) .05s;
}
.anchor-dash span {
  display: inline-block;
  margin-left: .5rem;
  transition: transform .3s cubic-bezier(.5,0,.5,1) .1s;
}
.anchor-dash:where(:hover, :focus) span {
  transform: translateX(1rem);
}
.anchor-dash:where(:hover, :focus)::before {
  opacity: 1;
  transform: scaleX(1);
}

/*-- WASP.CSS --*/
/* Padding */
[style*='--p:'] {
  padding: var(--p)
}
[style*='--py:'] {
  padding-block: var(--py)
}
[style*='--px:'] {
  padding-inline: var(--px)
}
[style*='--pt:'] {
  padding-block-start: var(--pt)
}
[style*='--pb:'] {
  padding-block-end: var(--pb)
}
[style*='--pl:'] {
  padding-inline-start: var(--pl)
}
[style*='--pr:'] {
  padding-inline-end: var(--pr)
}

/* Margin */
[style*='--m:'] {
  margin: var(--m)
}
[style*='--my:'] {
  margin-block: var(--my)
}
[style*='--mx:'] {
  margin-inline: var(--mx)
}
[style*='--mt:'] {
  margin-block-start: var(--mt)
}
[style*='--mb:'] {
  margin-block-end: var(--mb)
}
[style*='--ml:'] {
  margin-inline-start: var(--ml)
}
[style*='--mr:'] {
  margin-inline-end: var(--mr)
}

/* Dimensions */
[style*='--w:'] {
  width: var(--w)
}
[style*='--h:'] {
  height: var(--h)
}

/* Text */
[style*='--txt_al:'] {
  text-align: var(--txt_al)
}
[style*='--font_sz:'] {
  font-size: var(--font_sz)
}
[style*='--font_wt:'] {
  font-weight: var(--font_wt)
}

/* Colors */
[style*='--bg:'] {
  background: var(--bg);
}
[style*='--cl:'] {
  color: var(--cl);
}

/* Position */
[style*='--position:'] {
  position: var(--position)
}
[style*='--inset:'] {
  inset: var(--inset)
}
[style*='--left:'] {
  left: var(--left)
}
[style*='--right:'] {
  right: var(--right)
}
[style*='--top:'] {
  top: var(--top)
}
[style*='--bottom:'] {
  bottom: var(--bottom)
}
[style*='--z:'] {
  z-index: var(--z);
}

/* Display */
[style*='--d:'] {
  display: var(--d)
}
[style*='--border:'] {
  border: var(--border);
}
[style*='--border_x:'] {
  border-inline: var(--border_x);
}
[style*='--border_y:'] {
  border-block: var(--border_y);
}
[style*='--border_t:'] {
  border-block-start: var(--border_t);
}
[style*='--border_b:'] {
  border-block-end: var(--border_b);
}
[style*='--border_r:'] {
  border-inline-end: var(--border_r);
}
[style*='--border_l:'] {
  border-inline-start: var(--border_l);
}
[style*='--roundness:'] {
  border-radius: var(--roundness);
}

/* Layout */
[style*='--justify_content:'] {
  justify-content: var(--justify_content);
}
[style*='--align_items:'] {
  align-items: var(--align_items);
}
[style*='--align_content:'] {
  align-content: var(--align_content);
}
[style*='--place_content:'] {
  place-content: var(--place_content);
}
[style*='--flex_dir:'] {
  flex-direction: var(--flex_dir);
}
[style*='--flex_wrap:'] {
  flex-wrap: var(--flex_wrap);
}
[style*='--gap:'] {
  gap: var(--gap);
}
[style*='--grid_template_cols:'] {
  grid-template-columns: var(--grid_template_cols);
}
[style*='--grid_template_rows:'] {
  grid-template-rows: var(--grid_template_rows);
}
[style*='--order:'] {
  order: var(--order);
}

/* Transforms */
[style*='--opacity:'] {
  opacity: var(--opacity);
}
[style*='--transform:'] {
  transform: var(--transform);
}
[style*='--transform-o:'] {
  transform-origin: var(--transform-o);
}
[style*='--transition:'] {
  transition: var(--transition);
}
[style*='--will_change:'] {
  will-change: var(--will_change);
}


/* MISC */
[style*='--cursor:'] {
  cursor: var(--cursor);
}
[style*='--fill:'] {
  fill: var(--fill);
}
[style*='--filter:'] {
  filter: var(--filter);
}

/*-- Hover --*/
/* Colors */
[style*='--hover-bg:']:hover {
  background: var(--hover-bg);
}
[style*='--hover-cl:']:hover {
  color: var(--hover-cl);
}
/* Transforms */
[style*='--hover-opacity:']:hover {
  opacity: var(--hover-opacity);
}
[style*='--hover-transform:']:hover {
  transform: var(--hover-transform);
}

/*-- Group --*/
/*-- Group Hover --*/
[style*='--group:active']:hover [style*='--group-hover-transform'] {
  transform: var(--group-hover-transform);
}

/*-- Dark --*/
@media(prefers-color-scheme: dark) {
  /* Colors */
  [style*='--dark-bg:']{
    background: var(--dark-bg);
  }
  [style*='--dark-cl:']{
    color: var(--dark-cl);
  }
}

/*-- Breakpoints --*/
@media (min-width: 640px) {
  /* Text */
  [style*='--sm-txt_al:'] {
    text-align: var(--sm-txt_al)
  }
  [style*='--sm-font_sz:'] {
    font-size: var(--sm-font_sz);
  }

  /* Display */
  [style*='--sm-d:'] {
    display: var(--sm-d)
  }
}
@media (min-width: 768px) {
  /* Padding */
  [style*='--md-p:'] {
    padding: var(--md-p)
  }
  [style*='--md-py:'] {
    padding-block: var(--md-py)
  }
  [style*='--md-px:'] {
    padding-inline: var(--md-px)
  }
  [style*='--md-pt:'] {
    padding-block-start: var(--md-pt)
  }
  [style*='--md-pb:'] {
    padding-block-end: var(--md-pb)
  }
  [style*='--md-pl:'] {
    padding-inline-start: var(--md-pl)
  }
  [style*='--md-pr:'] {
    padding-inline-end: var(--md-pr)
  }

  /* Margin */
  [style*='--md-m:'] {
    margin: var(--md-m)
  }
  [style*='--md-my:'] {
    margin-block: var(--md-my)
  }
  [style*='--md-mx:'] {
    margin-inline: var(--md-mx)
  }
  [style*='--md-mt:'] {
    margin-block-start: var(--md-mt)
  }
  [style*='--md-mb:'] {
    margin-block-end: var(--md-mb)
  }
  [style*='--md-ml:'] {
    margin-inline-start: var(--md-ml)
  }
  [style*='--md-mr:'] {
    margin-inline-end: var(--md-mr)
  }

  /* Dimensions */
  [style*='--md-w:'] {
    width: var(--md-w)
  }
  [style*='--md-h:'] {
    height: var(--md-h)
  }
  /* Text */
  [style*='--md-txt_al:'] {
    text-align: var(--md-txt_al)
  }
  [style*='--md-font_sz:'] {
    font-size: var(--md-font_sz);
  }

  /* Display */
  [style*='--md-d:'] {
    display: var(--md-d)
  }

  /* Layout */
  [style*='--md-justify_content:'] {
    justify-content: var(--md-justify_content);
  }
  [style*='--md-align_items:'] {
    align-items: var(--md-align_items);
  }
  [style*='--md-align_content:'] {
    align-items: var(--md-align_content);
  }
  [style*='--md-place_content:'] {
    align-items: var(--md-place_content);
  }
  [style*='--md-flex_dir:'] {
    flex-direction: var(--md-flex_dir);
  }
  [style*='--md-flex_wrap:'] {
    flex-wrap: var(--md-flex_wrap);
  }
  [style*='--md-gap:'] {
    gap: var(--md-gap);
  }
  [style*='--md-grid_template_cols:'] {
    grid-template-columns: var(--md-grid_template_cols);
  }
  [style*='--md-grid_template_rows:'] {
    grid-template-rows: var(--md-grid_template_rows);
  }
  [style*='--md-order:'] {
    order: var(--md-order);
  }
}
@media (min-width: 960px) {
  /* Padding */
  [style*='--mx-p:'] {
    padding: var(--mx-p)
  }
  [style*='--mx-py:'] {
    padding-block: var(--mx-py)
  }
  [style*='--mx-px:'] {
    padding-inline: var(--mx-px)
  }
  [style*='--mx-pt:'] {
    padding-block-start: var(--mx-pt)
  }
  [style*='--mx-pb:'] {
    padding-block-end: var(--mx-pb)
  }
  [style*='--mx-pl:'] {
    padding-inline-start: var(--mx-pl)
  }
  [style*='--mx-pr:'] {
    padding-inline-end: var(--mx-pr)
  }

  /* Margin */
  [style*='--mx-m:'] {
    margin: var(--mx-m)
  }
  [style*='--mx-my:'] {
    margin-block: var(--mx-my)
  }
  [style*='--mx-mx:'] {
    margin-inline: var(--mx-mx)
  }
  [style*='--mx-mt:'] {
    margin-block-start: var(--mx-mt)
  }
  [style*='--mx-mb:'] {
    margin-block-end: var(--mx-mb)
  }
  [style*='--mx-ml:'] {
    margin-inline-start: var(--mx-ml)
  }
  [style*='--mx-mr:'] {
    margin-inline-end: var(--mx-mr)
  }

  /* Dimensions */
  [style*='--mx-w:'] {
    width: var(--mx-w)
  }
  [style*='--mx-h:'] {
    height: var(--mx-h)
  }
  /* Text */
  [style*='--mx-txt_al:'] {
    text-align: var(--mx-txt_al)
  }
  [style*='--mx-font_sz:'] {
    font-size: var(--mx-font_sz);
  }

  /* Display */
  [style*='--mx-d:'] {
    display: var(--mx-d)
  }

  /* Layout */
  [style*='--mx-justify_content:'] {
    justify-content: var(--mx-justify_content);
  }
  [style*='--mx-align_items:'] {
    align-items: var(--mx-align_items);
  }
  [style*='--mx-align_content:'] {
    align-items: var(--mx-align_content);
  }
  [style*='--mx-place_content:'] {
    align-items: var(--mx-place_content);
  }
  [style*='--mx-flex_dir:'] {
    flex-direction: var(--mx-flex_dir);
  }
  [style*='--mx-flex_wrap:'] {
    flex-wrap: var(--mx-flex_wrap);
  }
  [style*='--mx-gap:'] {
    gap: var(--mx-gap);
  }
  [style*='--mx-grid_template_cols:'] {
    grid-template-columns: var(--mx-grid_template_cols);
  }
  [style*='--mx-grid_template_rows:'] {
    grid-template-rows: var(--mx-grid_template_rows);
  }
  [style*='--mx-order:'] {
    order: var(--mx-order);
  }
}
@media (min-width: 1024px) {
  /* Text */
  [style*='--lg-txt_al:'] {
    text-align: var(--lg-txt_al)
  }
  [style*='--lg-font_sz:'] {
    font-size: var(--lg-font_sz);
  }

  /* Display */
  [style*='--lg-d:'] {
    display: var(--lg-d)
  }

  /* Layout */
  [style*='--lg-justify_content:'] {
    justify-content: var(--lg-justify_content);
  }
  [style*='--lg-flex_dir:'] {
    flex-direction: var(--lg-flex_dir);
  }
  [style*='--lg-gap:'] {
    gap: var(--lg-gap);
  }
  [style*='--lg-grid_template_cols:'] {
    grid-template-columns: var(--lg-grid_template_cols);
  }
  [style*='--lg-grid_template_rows:'] {
    grid-template-rows: var(--lg-grid_template_rows);
  }
}
@media (min-width: 1280px) {
  /* Text */
  [style*='--xl-txt_al:'] {
    text-align: var(--xl-txt_al)
  }
  [style*='--xl-font_sz:'] {
    font-size: var(--xl-font_sz);
  }

  /* Display */
  [style*='--xl-d:'] {
    display: var(--xl-d)
  }
}

@media(prefers-color-scheme: dark) {
  [style*='--dark-bg:'] {
    background: var(--dark-bg)
  }

  [style*='--dark-cl:'] {
    color: var(--dark-cl)
  }
}
